body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:145px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:38px;
  width:360px;
  height:122px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:122px;
}
#u9 {
  position:absolute;
  left:2px;
  top:53px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:150px;
  top:78px;
  width:61px;
  height:42px;
  font-size:36px;
  color:#FF9900;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:42px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:67px;
  top:380px;
  width:218px;
  height:30px;
  color:#FF3300;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:214px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:159px;
  width:360px;
  height:41px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:320px;
  top:12px;
  width:27px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:10px;
  top:135px;
  width:104px;
  height:14px;
  font-size:11px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:14px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:10px;
  top:172px;
  width:79px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:322px;
  top:167px;
  width:25px;
  height:25px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:199px;
  width:360px;
  height:41px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:10px;
  top:212px;
  width:66px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:322px;
  top:207px;
  width:25px;
  height:25px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:10px;
  top:260px;
  width:104px;
  height:60px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:124px;
  top:260px;
  width:104px;
  height:60px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:238px;
  top:260px;
  width:104px;
  height:60px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:10px;
  top:330px;
  width:132px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:142px;
  top:330px;
  width:200px;
  height:30px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u39 {
  position:absolute;
  left:7px;
  top:51px;
  width:40px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
