body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1290px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1290px;
}
#u1 {
  position:absolute;
  left:2px;
  top:637px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:16px;
  width:53px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:9px;
  top:10px;
  width:60px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:14px;
  top:13px;
  width:50px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:79px;
  top:55px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:109px;
  top:54px;
  width:15px;
  height:16px;
  color:#0099FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:310px;
  top:13px;
  width:27px;
  height:27px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:450px;
  top:22px;
  width:430px;
  height:378px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:378px;
}
#u15 {
  position:absolute;
  left:2px;
  top:181px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
