body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-17px;
  width:360px;
  height:1657px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1657px;
}
#u1 {
  position:absolute;
  left:2px;
  top:820px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:463px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:463px;
}
#u3 {
  position:absolute;
  left:2px;
  top:224px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:46px;
  top:500px;
  width:259px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:50px;
  top:535px;
  width:160px;
  height:35px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:35px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:210px;
  top:535px;
  width:80px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
