body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:47px;
  width:325px;
  height:947px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:947px;
}
#u1 {
  position:absolute;
  left:2px;
  top:466px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:1097px;
  width:325px;
  height:313px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:313px;
}
#u3 {
  position:absolute;
  left:2px;
  top:148px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:286px;
  width:320px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:298px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:252px;
  top:298px;
  width:41px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:296px;
  top:294px;
  width:24px;
  height:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:994px;
  width:320px;
  height:103px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:103px;
}
#u13 {
  position:absolute;
  left:2px;
  top:44px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:1004px;
  width:320px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:1016px;
  width:66px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:218px;
  top:1016px;
  width:78px;
  height:16px;
  font-size:11px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:296px;
  top:1012px;
  width:24px;
  height:24px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:1044px;
  width:320px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:1056px;
  width:66px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:10px;
  top:1187px;
  width:200px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:16px;
  top:1189px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:86px;
  top:1051px;
  width:156px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:11px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u31 {
  position:absolute;
  left:252px;
  top:1047px;
  width:58px;
  height:30px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:370px;
  top:47px;
  width:320px;
  height:546px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:546px;
}
#u34 {
  position:absolute;
  left:2px;
  top:265px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:128px;
  top:18px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:430px;
  top:11px;
  width:177px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
