body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:9px;
  top:51px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:9px;
  top:73px;
  width:51px;
  height:25px;
  color:#666666;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:70px;
  top:73px;
  width:79px;
  height:25px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:159px;
  top:73px;
  width:79px;
  height:25px;
  color:#666666;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:248px;
  top:73px;
  width:92px;
  height:25px;
  color:#666666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:9px;
  top:108px;
  width:79px;
  height:25px;
  color:#666666;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:98px;
  top:108px;
  width:79px;
  height:25px;
  color:#666666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:9px;
  top:143px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:0px;
  top:166px;
  width:360px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:9px;
  top:178px;
  width:27px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:0px;
  top:205px;
  width:360px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:9px;
  top:217px;
  width:53px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:0px;
  top:244px;
  width:360px;
  height:40px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:9px;
  top:256px;
  width:27px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:0px;
  top:283px;
  width:360px;
  height:40px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:9px;
  top:295px;
  width:53px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:315px;
  top:142px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#0099FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:60px;
  top:7px;
  width:280px;
  height:25px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:70px;
  top:12px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:313px;
  top:10px;
  width:20px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
