body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:7px;
  width:230px;
  height:25px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:70px;
  top:9px;
  width:18px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:98px;
  top:10px;
  width:182px;
  height:20px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
  background-image:url(../../resources/images/transparent.gif);
  background-color:transparent;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:290px;
  top:0px;
  width:70px;
  height:40px;
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:9px;
  top:51px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:9px;
  top:73px;
  width:51px;
  height:25px;
  color:#666666;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:70px;
  top:73px;
  width:79px;
  height:25px;
  color:#666666;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:159px;
  top:73px;
  width:79px;
  height:25px;
  color:#666666;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:248px;
  top:73px;
  width:92px;
  height:25px;
  color:#666666;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:9px;
  top:108px;
  width:79px;
  height:25px;
  color:#666666;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:98px;
  top:108px;
  width:79px;
  height:25px;
  color:#666666;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:9px;
  top:143px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:0px;
  top:166px;
  width:360px;
  height:40px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:9px;
  top:178px;
  width:27px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:0px;
  top:205px;
  width:360px;
  height:40px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:9px;
  top:217px;
  width:53px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:0px;
  top:244px;
  width:360px;
  height:40px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:9px;
  top:256px;
  width:27px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:0px;
  top:283px;
  width:360px;
  height:40px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:9px;
  top:295px;
  width:53px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:315px;
  top:142px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#0099FF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
