body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:740px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:362px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:180px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:180px;
}
#u3 {
  position:absolute;
  left:2px;
  top:82px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:327px;
  top:8px;
  width:23px;
  height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:130px;
  top:64px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:327px;
  top:79px;
  width:23px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:220px;
  top:61px;
  width:60px;
  height:25px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:30px;
  top:50px;
  width:80px;
  height:80px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u13 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:30px;
  top:50px;
  width:80px;
  height:80px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u15 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:130px;
  top:105px;
  width:60px;
  height:25px;
  font-size:11px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:270px;
  width:360px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:54px;
  top:282px;
  width:66px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:326px;
  top:278px;
  width:25px;
  height:25px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:19px;
  top:278px;
  width:25px;
  height:25px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:310px;
  width:360px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:54px;
  top:322px;
  width:53px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:326px;
  top:318px;
  width:25px;
  height:25px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:19px;
  top:318px;
  width:25px;
  height:25px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u33 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:350px;
  width:360px;
  height:40px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:54px;
  top:362px;
  width:53px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:326px;
  top:358px;
  width:25px;
  height:25px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:19px;
  top:358px;
  width:25px;
  height:25px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:439px;
  width:360px;
  height:40px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:54px;
  top:451px;
  width:53px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:326px;
  top:447px;
  width:25px;
  height:25px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:19px;
  top:447px;
  width:25px;
  height:25px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:527px;
  width:360px;
  height:40px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u51 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:54px;
  top:539px;
  width:66px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:326px;
  top:535px;
  width:25px;
  height:25px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:19px;
  top:535px;
  width:25px;
  height:25px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:527px;
  width:360px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:360px;
  height:63px;
  overflow:hidden;
}
#u60_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:63px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u60_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:0px;
  top:23px;
  width:360px;
  height:40px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:29px;
  top:47px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:92px;
  top:47px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:299px;
  top:47px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:29px;
  top:25px;
  width:20px;
  height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:310px;
  top:27px;
  width:20px;
  height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:230px;
  top:47px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:240px;
  top:27px;
  width:20px;
  height:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:150px;
  top:0px;
  width:60px;
  height:60px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u78 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:102px;
  top:27px;
  width:20px;
  height:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:290px;
  top:23px;
  width:59px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u82 {
  position:absolute;
  left:10px;
  top:23px;
  width:59px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u83 {
  position:absolute;
  left:162px;
  top:8px;
  width:36px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#FF0000;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:42px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:150px;
  top:0px;
  width:60px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u86 {
  position:absolute;
  left:88px;
  top:23px;
  width:50px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u87 {
  position:absolute;
  left:226px;
  top:23px;
  width:50px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u88 {
  position:absolute;
  left:19px;
  top:152px;
  width:321px;
  height:58px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:58px;
}
#u89 {
  position:absolute;
  left:2px;
  top:21px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:48px;
  top:191px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:56px;
  top:160px;
  width:30px;
  height:30px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:36px;
  top:150px;
  width:70px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u95 {
  position:absolute;
  left:163px;
  top:191px;
  width:34px;
  height:14px;
  font-size:11px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:265px;
  top:191px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:166px;
  top:164px;
  width:28px;
  height:22px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u100 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:272px;
  top:165px;
  width:22px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF9900;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:132px;
  top:153px;
  width:95px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u104 {
  position:absolute;
  left:0px;
  top:45px;
  width:360px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u105 {
  position:absolute;
  left:237px;
  top:153px;
  width:95px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u106 {
  position:absolute;
  left:0px;
  top:270px;
  width:360px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u107 {
  position:absolute;
  left:0px;
  top:220px;
  width:360px;
  height:40px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u108 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:54px;
  top:232px;
  width:53px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:326px;
  top:228px;
  width:25px;
  height:25px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u112 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:19px;
  top:228px;
  width:25px;
  height:25px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u114 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:0px;
  top:220px;
  width:360px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u116 {
  position:absolute;
  left:0px;
  top:350px;
  width:360px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u117 {
  position:absolute;
  left:0px;
  top:310px;
  width:360px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u118 {
  position:absolute;
  left:316px;
  top:0px;
  width:44px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u119 {
  position:absolute;
  left:0px;
  top:439px;
  width:360px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u120 {
  position:absolute;
  left:68px;
  top:638px;
  width:202px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:0px;
  top:400px;
  width:360px;
  height:40px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u123 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:54px;
  top:412px;
  width:53px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:326px;
  top:408px;
  width:25px;
  height:25px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u127 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:19px;
  top:408px;
  width:25px;
  height:25px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u129 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:0px;
  top:479px;
  width:360px;
  height:40px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u131 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:54px;
  top:491px;
  width:53px;
  height:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:326px;
  top:487px;
  width:25px;
  height:25px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u135 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:19px;
  top:487px;
  width:25px;
  height:25px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u137 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:0px;
  top:479px;
  width:360px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u139 {
  position:absolute;
  left:30px;
  top:588px;
  width:300px;
  height:40px;
  color:#FFFFFF;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u140 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
