body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:20px;
  width:360px;
  height:780px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:780px;
}
#u1 {
  position:absolute;
  left:2px;
  top:382px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:142px;
  top:10px;
  width:16px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:164px;
  top:14px;
  width:53px;
  height:13px;
  font-family:'华文新魏 Regular', '华文新魏';
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:285px;
  width:359px;
  height:145px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:145px;
}
#u9 {
  position:absolute;
  left:2px;
  top:64px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:80px;
  width:360px;
  height:150px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:150px;
}
#u11 {
  position:absolute;
  left:2px;
  top:67px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:154px;
  top:54px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:94px;
  top:57px;
  width:51px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:34px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:51px;
  height:1px;
}
#u15 {
  position:absolute;
  left:216px;
  top:57px;
  width:51px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:34px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:51px;
  height:1px;
}
#u16 {
  position:absolute;
  left:154px;
  top:254px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:94px;
  top:257px;
  width:51px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:34px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:51px;
  height:1px;
}
#u19 {
  position:absolute;
  left:216px;
  top:257px;
  width:51px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:34px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:51px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:432px;
  width:359px;
  height:145px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:145px;
}
#u21 {
  position:absolute;
  left:2px;
  top:64px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:15px;
  top:300px;
  width:66px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:0px;
  top:579px;
  width:360px;
  height:157px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:157px;
}
#u25 {
  position:absolute;
  left:2px;
  top:70px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:360px;
  height:63px;
  overflow:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:63px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:23px;
  width:360px;
  height:40px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:29px;
  top:47px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:92px;
  top:47px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:299px;
  top:47px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:29px;
  top:25px;
  width:20px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:310px;
  top:27px;
  width:20px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:230px;
  top:47px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:240px;
  top:27px;
  width:20px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:150px;
  top:0px;
  width:60px;
  height:60px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u45 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:102px;
  top:27px;
  width:20px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:290px;
  top:23px;
  width:59px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49 {
  position:absolute;
  left:10px;
  top:23px;
  width:59px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u50 {
  position:absolute;
  left:162px;
  top:8px;
  width:36px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#FF0000;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:42px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:150px;
  top:0px;
  width:60px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53 {
  position:absolute;
  left:89px;
  top:25px;
  width:50px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54 {
  position:absolute;
  left:225px;
  top:23px;
  width:50px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
