body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:1336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:120px;
  top:15px;
  width:120px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1140px;
  top:10px;
  width:40px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1116px;
  top:58px;
  width:89px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:14px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:555px;
  top:37px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:650px;
  top:37px;
  width:101px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:811px;
  top:37px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:950px;
  top:37px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#0099FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:0px;
  top:80px;
  width:1340px;
  height:488px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:488px;
}
#u17 {
  position:absolute;
  left:2px;
  top:236px;
  width:1336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:120px;
  top:568px;
  width:1100px;
  height:533px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:533px;
}
#u19 {
  position:absolute;
  left:2px;
  top:258px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
