body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1px;
  top:560px;
  width:358px;
  height:470px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:470px;
}
#u3 {
  position:absolute;
  left:2px;
  top:227px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:133px;
  top:9px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:334px;
  top:7px;
  width:6px;
  height:6px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:334px;
  top:17px;
  width:6px;
  height:6px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:334px;
  top:27px;
  width:6px;
  height:6px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1px;
  top:40px;
  width:358px;
  height:130px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:130px;
}
#u17 {
  position:absolute;
  left:2px;
  top:57px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1px;
  top:170px;
  width:358px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:18px;
  top:177px;
  width:335px;
  height:16px;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:18px;
  top:200px;
  width:67px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:290px;
  top:200px;
  width:52px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:14px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:8px;
  top:603px;
  width:345px;
  height:397px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:397px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1px;
  top:410px;
  width:358px;
  height:140px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:140px;
}
#u29 {
  position:absolute;
  left:2px;
  top:62px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:437px;
  width:360px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u31 {
  position:absolute;
  left:8px;
  top:420px;
  width:53px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:0px;
  top:590px;
  width:360px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u34 {
  position:absolute;
  left:8px;
  top:574px;
  width:53px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:360px;
  height:50px;
  overflow:hidden;
}
#u36_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u36_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:11px;
  top:15px;
  width:79px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:220px;
  top:0px;
  width:140px;
  height:50px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:100px;
  top:23px;
  width:43px;
  height:13px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:10px;
  color:#666666;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:98px;
  top:24px;
  width:49px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:32px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:49px;
  height:1px;
}
#u46 {
  position:absolute;
  left:0px;
  top:230px;
  width:358px;
  height:40px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:47px;
  top:242px;
  width:66px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:324px;
  top:234px;
  width:29px;
  height:30px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:8px;
  top:236px;
  width:29px;
  height:29px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u53 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:230px;
  width:360px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  position:absolute;
  left:8px;
  top:457px;
  width:324px;
  height:81px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:81px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:309px;
  width:360px;
  height:90px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:90px;
}
#u58 {
  position:absolute;
  left:2px;
  top:37px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:280px;
  width:360px;
  height:30px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:8px;
  top:287px;
  width:53px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:0px;
  top:349px;
  width:360px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u64 {
  position:absolute;
  left:18px;
  top:326px;
  width:40px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
