body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-17px;
  width:360px;
  height:684px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:684px;
}
#u1 {
  position:absolute;
  left:2px;
  top:334px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:134px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:20px;
  top:260px;
  width:320px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:50px;
  width:300px;
  height:48px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:30px;
  top:125px;
  width:56px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:30px;
  top:141px;
  width:180px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15 {
  position:absolute;
  left:30px;
  top:173px;
  width:56px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:30px;
  top:195px;
  width:180px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u18 {
  position:absolute;
  left:220px;
  top:195px;
  width:89px;
  height:25px;
  font-size:11px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:220px;
  top:141px;
  width:89px;
  height:25px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
