body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:670px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:670px;
}
#u1 {
  position:absolute;
  left:2px;
  top:327px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:40px;
  width:360px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:55px;
  width:30px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:62px;
  width:79px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:10px;
  top:110px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:10px;
  top:134px;
  width:340px;
  height:46px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:10px;
  top:190px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:0px;
  top:250px;
  width:360px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:13px;
  top:262px;
  width:15px;
  height:16px;
}
#u16 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17 {
  position:absolute;
  left:84px;
  top:262px;
  width:53px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:40px;
  top:258px;
  width:25px;
  height:25px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:211px;
  width:360px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:13px;
  top:223px;
  width:15px;
  height:16px;
}
#u24 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25 {
  position:absolute;
  left:84px;
  top:223px;
  width:137px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:40px;
  top:219px;
  width:25px;
  height:22px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u28 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:293px;
  top:223px;
  width:27px;
  height:16px;
  color:#0099FF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u31 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:360px;
  height:50px;
  overflow:hidden;
}
#u31_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:180px;
  top:0px;
  width:180px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:16px;
  width:176px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:21px;
  top:10px;
  width:93px;
  height:28px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:10px;
  top:316px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:0px;
  top:334px;
  width:360px;
  height:40px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:6px;
  top:346px;
  width:53px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:299px;
  top:346px;
  width:51px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:0px;
  top:412px;
  width:360px;
  height:40px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:6px;
  top:424px;
  width:53px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:300px;
  top:424px;
  width:50px;
  height:16px;
  color:#FF9900;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:79px;
  top:425px;
  width:62px;
  height:14px;
  font-size:11px;
  color:#0000FF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:0px;
  top:451px;
  width:360px;
  height:40px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:6px;
  top:463px;
  width:53px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:299px;
  top:462px;
  width:51px;
  height:16px;
  color:#FF0000;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:0px;
  top:413px;
  width:360px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:144px;
  top:9px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:0px;
  top:373px;
  width:360px;
  height:40px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:6px;
  top:385px;
  width:53px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:299px;
  top:385px;
  width:52px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
