body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:680px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:680px;
}
#u1 {
  position:absolute;
  left:2px;
  top:332px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:50px;
  width:360px;
  height:90px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:90px;
}
#u3 {
  position:absolute;
  left:2px;
  top:37px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:17px;
  top:60px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:17px;
  top:82px;
  width:300px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:17px;
  top:112px;
  width:8px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:32px;
  top:108px;
  width:31px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FF0000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:260px;
  top:102px;
  width:90px;
  height:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:149px;
  width:360px;
  height:90px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:90px;
}
#u15 {
  position:absolute;
  left:2px;
  top:37px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:17px;
  top:159px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:17px;
  top:185px;
  width:300px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:17px;
  top:214px;
  width:8px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:32px;
  top:210px;
  width:31px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FF0000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:260px;
  top:204px;
  width:90px;
  height:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:250px;
  width:360px;
  height:120px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
}
#u27 {
  position:absolute;
  left:2px;
  top:52px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:17px;
  top:260px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:17px;
  top:286px;
  width:333px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:17px;
  top:342px;
  width:8px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:32px;
  top:338px;
  width:40px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FF0000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:260px;
  top:332px;
  width:90px;
  height:28px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:17px;
  top:306px;
  width:312px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:11px;
  top:11px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:70px;
  top:7px;
  width:282px;
  height:25px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:25px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:100px;
  top:13px;
  width:67px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:46px;
  top:14px;
  width:16px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u49 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:74px;
  top:10px;
  width:20px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u53_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u53_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:39px;
  top:24px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:110px;
  top:24px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:191px;
  top:24px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:277px;
  top:24px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:39px;
  top:2px;
  width:20px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:288px;
  top:4px;
  width:20px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:118px;
  top:4px;
  width:20px;
  height:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:199px;
  top:4px;
  width:20px;
  height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:20px;
  top:0px;
  width:60px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73 {
  position:absolute;
  left:268px;
  top:0px;
  width:60px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u74 {
  position:absolute;
  left:98px;
  top:0px;
  width:60px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u75 {
  position:absolute;
  left:179px;
  top:0px;
  width:60px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
